RewriteEngine On

# Redireciona index.html para a raiz
RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteRule ^index\.html$ /  [R=301,L]

# Redireciona qualquer-pagina.html para qualquer-pagina (sem extensão)
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html[\s?] [NC]
RewriteRule ^ /%1 [R=301,L]

# Internamente, serve o .html quando a URL não tem extensão
RewriteRule ^listadepresenca/?$ lista\ de\ presenca.html [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^.]+)$ $1.html [L]

